.header {
  display: grid;
  grid-template-columns: 100px 700px;
  justify-content: space-around;
  align-items: center;
  grid-gap: 0px; }

.calendar {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
  justify-content: none;
  align-items: none;
  grid-gap: 2px; }
  .calendar .calendar-header {
    grid-column: 1 / span 7;
    display: grid;
    grid-template-columns: 200px 160px 200px;
    justify-content: none;
    align-items: none;
    grid-gap: 0px; }
  .calendar .day-off {
    grid-column: 1 / span 4; }

.booking {
  display: grid;
  grid-template-columns: 612px 300px;
  justify-content: center;
  align-items: center;
  grid-gap: 20px; }
  .booking .h1 {
    grid-column: 1 / span 2; }

.games {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: center;
  align-items: center;
  grid-gap: 50px; }
  .games .h1 {
    grid-column: 1 / span 4; }

.price {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  justify-content: center;
  align-items: center;
  grid-gap: 50px; }
  .price .h1 {
    grid-column: 1 / span 3; }

.contact {
  display: grid;
  grid-template-columns: 700px 300px;
  justify-content: center;
  align-items: none;
  grid-gap: 20px; }

.footer {
  display: grid;
  grid-template-columns: 200px 300px 200px;
  justify-content: space-around;
  align-items: center;
  grid-gap: 0px; }

.calendar {
  border: solid 1px #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6); }

.calendar-header .previous-month {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 21;
  color: #dbcae2; }

.calendar-header .current-month {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 20px;
  color: white;
  text-align: center; }

.calendar-header .next-month {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 21;
  color: #dbcae2;
  text-align: right; }

.day, .weekend-day {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 14px;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px; }

.day-past {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 30px;
  color: #f0f0f0;
  background-color: #613c7e;
  border-radius: 10px;
  padding: 10px;
  height: 51px; }

.day-today {
  background-color: #bd2525;
  border-radius: 10px;
  padding: 10px;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 30px;
  color: #f0f0f0; }

.day-future {
  background-color: #613c7e;
  border-radius: 10px;
  padding: 10px;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 30px;
  color: #f0f0f0; }
  .day-future:hover {
    background-color: #411768;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 30px;
    color: white; }
    .day-future:hover .sits {
      font-family: Verdana,Geneva,sans-serif;
      font-size: 12px;
      color: white; }
  .day-future .sits {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    color: #dbcae2; }

.navigation {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .navigation li {
    display: inline-block; }
  .navigation a {
    text-decoration: none;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 20px;
    color: #f0f0f0;
    margin-left: 30px; }
    .navigation a:hover {
      color: #dbcae2; }

.social-link {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center; }
  .social-link li {
    display: inline-block; }
  .social-link li {
    padding-right: 20px; }

.header {
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px; }

.footer {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 0px 10px 0px;
  margin-top: 119px; }
  .footer p {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 18px;
    color: #f0f0f0;
    margin: 0; }

h1 {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 30px;
  color: #f0f0f0;
  text-align: center;
  margin-top: 30px; }

.booking-parametrs p {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 18px;
  color: #f0f0f0;
  margin: 10px 0px 10px 0px; }

.booking-parametrs select, .booking-parametrs input, .booking-parametrs textarea {
  width: 300px;
  padding: 10px 0px 10px 0px;
  border: solid 2px #dbcae2;
  border-radius: 10px; }

.booking-btn {
  width: 200px;
  border: solid 2px #f0f0f0;
  border-radius: 10px;
  text-decoration: none;
  background: none;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 18px;
  color: #f0f0f0;
  padding: 10px;
  margin-top: 10px; }
  .booking-btn:hover {
    border: solid 2px #dbcae2;
    border-radius: 10px; }

.cost {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 18px;
  color: #f0f0f0;
  margin-top: 25px; }

.h1 {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 30px;
  color: #f0f0f0;
  text-align: center;
  margin-top: 30px; }

.h1 {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 30px;
  color: #f0f0f0;
  text-align: center;
  margin-top: 30px; }

body {
  background-image: url(/app/img/background.jpg);
  background-attachment: fixed;
  margin: 0px; }
