@import 'var';
@import 'mixin';
@import 'grid';
@import 'headerfooter';
@import 'calendar';
@import 'form';
@import 'games';
@import 'price';

body{
    //background: rgb(27, 1, 22);
    background-image: url(/app/img/background.jpg);
    background-attachment: fixed;
    margin: 0px;
}

